<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

{% extends 'base.html' %}


{% block title %}
Đăng nhập
{% endblock %}


{% block content %}
<div class="wrapper">
    <form class="form-signin" action="/quiz/login/" method="post">    
    	{% csrf_token %}   
      	<h2 >Đăng nhập</h2>
      	<input type="text" name="username" placeholder="Mã số sinh viên" required autofocus />
      	<input type="password" name="password" placeholder="Mật khẩu" required=""/>      
      	<select name="cathi">
      		{% for ct in ds_cathi %}
      			<option value="{{ ct.id }}">{{ ct.title }}</option>
      		{% endfor %}
      	</select>
      	<button class="btn btn-lg btn-primary" type="submit">Đăng nhập</button>   
    </form>
  </div>
{% endblock %}